@import "setting.scss";
@include BLOCK {
    .thumb-item {
        padding: 2px;
        border-width: 2px !important;
        cursor: pointer;
    }
    .swiper-slide-thumb-active {
        .thumb-item {
            border-color: $borderPrimary !important;
        }
    }
    @media (max-width: ($xlScreen + 30)) {
        .slider-block-wrapper {
            overflow: hidden;
        }
    }
}