@import "setting.scss";
@include BLOCK {
    .block-title {
        font-size: 18px;
        font-weight: normal;
    }
    .contact-info {
        font-size: 15px;
    }
    .contact-link-btn {
        font-size: 15px;
        height: 100%;
        text-align: center;
        line-height: 1.1;
        i {
            font-size: 42px;
        }
        strong {
            display: block;
            font-weight: normal;
            margin-top: 10px;
        }
        &:hover {
            color: $textPrimary !important;
            border-color: $borderPrimary;
        }
    }
}