@import "setting.scss";
@import "mixin.scss";
@include BLOCK {
    .product-item {
        &-inner:hover {
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
            .product-buttons {
                opacity: 1;
                visibility: visible;
                bottom: 0;
            }
        }
        .new-badge {
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: $bgBlack;
            color: $textWhite;
            padding: 4px;
            width: 36px;
            height: 36px;
            font-size: 9px;
            text-align: center;
            border-radius: 15px;
            z-index: 2;
            span {
                font-size: 12px;
            }
            @media (min-width:$mdScreen) {
                width: 47px;
                height: 47px;
                font-size: 12px;
                span {
                    font-size: 16px;
                }
            }
        }
        .product-symbols {
            position: absolute;
            left: 10px;
            top: 10px;
            z-index: 2;
            .symbol-item {
                @include d-flex;
                @include align-items-center;
                &.last-stock,
                &.out-of-stock {
                    height: 26px;
                    padding: 4px 10px;
                    font-size: 11px;
                    i {
                        margin-right: 5px;
                    }
                    &.last-stock {
                        background-color: $bgWarning;
                        color: $textColor;
                        b {
                            margin: 0 3px;
                        }
                    }
                    &.out-of-stock {
                        background-color: $textGray;
                        color: $textWhite;
                    }
                    @media (min-width:$mdScreen) {
                        font-size: 14px; 
                    }
                } 
                & + .symbol-item {
                    margin-top: 10px;
                }
            }
        }
        .product-related {
            position: absolute;
            bottom: 15px;
            right: 15px;
            font-size: 16px;
            font-weight: bold;
            font-style: italic;
            i {
                font-size: 13px;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                padding: 1px;
            }
        }
        .product-buttons {
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            background-color: $bgWhite;
            opacity: 0;
            visibility: hidden;
            a {
                margin: 7.5px;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 38px;
                color: $textColor;
                i {
                    font-size: 16px;
                }
                &.active, 
                &:hover {
                    border-color: $borderPrimary !important;
                    background-color: $bgPrimary;
                    color: $textWhite;
                }
            }
        }
        .product-detail-card {
            padding-bottom: 65px;
            position: relative;
            .brand-title {
                margin-bottom: 5px;
                font-size: 13px;
                &:hover {
                    color: $textPrimary !important;
                }
            }
            .product-title {
                font-size: 13px;
                &:hover {
                    color: $textPrimary !important;
                }
            }
            .product-bottom-line {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .product-price-wrapper {
                .discounted-badge {
                    background-color: $bgPrimary;
                    color: $textWhite;
                    padding: 4px;
                    width: 42px;
                    height: 42px;
                    text-align: center;
                    font-size: 10px;
                    border-radius: 15px;
                    z-index: 2;
                    margin-right: 10px;
                    span {
                        font-size: 14px;
                    }
                }
                .product-discounted-price {
                    font-size: 14px;
                    &:not(.d-none) + .current-price {
                        color: $textPrimary;
                    }
                }
                .current-price {
                    font-size: 18px;
                }
            }
            @media (min-width:$mdScreen) {
                padding-bottom: 85px;
                .brand-title {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                .product-title {
                    font-size: 18px; 
                }
                .product-price-wrapper {
                    .discounted-badge {
                        width: 47px;
                        height: 47px;
                        font-size: 12px;
                        span {
                            font-size: 16px;
                        }
                    }
                    .product-discounted-price {
                        font-size: 18px; 
                    }
                    .current-price {
                        font-size: 23px; 
                    }
                }
            }
        }
        [dir="rtl"] & {
            .new-badge {
                right: auto;
                left: 10px;
            }
            .product-symbols {
                left: auto;
                right: 10px;
                .symbol-item {
                    &.last-stock,
                    &.out-of-stock {
                        i {
                            margin-right: 0;
                            margin-left: 5px;
                        }
                    } 
                }
            }
            .product-related {
                right: auto;
                left: 15px;
            }
            .product-detail-card {
                .product-price-wrapper {
                    .discounted-badge {
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .showcase-tab-titles {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            background: transparent;
            width: 0px;
            height: 0px; 
        }
        li {
            .showcase-tab-item {
                border-radius: 25px;
                padding: 12px 24px;
                font-size: 14px;
                color: $textGray;
                transition: none !important;
                @include d-flex;
                @include align-items-center;
                white-space: nowrap;
                .tab-img {
                    width: 25px;
                    height: 25px;
                    @include d-flex;
                    @include align-items-center;
                    @include justify-content-center;
                    img {
                        width: auto;
                        max-height: 100%;
                    }
                }
                @media (min-width:$mdScreen) {
                    padding: 12px 34px;
                    font-size: 18px;
                }
            }
            &.active .showcase-tab-item {
                background-color: $bgSecondary;
                color: $textWhite;
                font-weight: bold;
                .tab-img {
                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
    .compare-selected {
        a:hover {
            color: $textPrimary !important;
        }
    }
}