@import "setting.scss";
@import "mixin.scss";
@include BLOCK {
    h1 {
        color: $textColor;
        font-size: 21px;
        margin-bottom: 0;
    }
    .member-menu-icon {
        background-color: #d8d8d8;
        width: 40px;
        min-width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 100%;
    }
    .stock-alarm-item {
        font-size: 10px;
        a.stock-alarm-add-btn {
            font-size: 12px;
            i {
                margin-right: 5px;
            }
        }
        a.stock-alarm-delete-btn {
            i {
                font-size: 17px;
            }
        }
        .checkbox-width {
            max-width: 45px;
        }
        .mb-10 {
            margin-bottom: 10px;
        }
    }
    @media (max-width: ($mdScreen - 1)) {
        .stock-alarm-item {
            font-size: 12px;
            .mb-10 {
                margin-bottom: 5px;
            }
        }
    }
    &[dir="rtl"] {
        .member-menu-icon {
            margin-right: 0;
            margin-left: 10px;
        }
        .stock-alarm-item {
            a.stock-alarm-add-btn {
                i {
                    margin-right: 0;
                    margin-left: 5px;
                }
            }
        }
    }
}