@import "setting.scss";
@import "mixin.scss";
@include BLOCK {
    .header-cart-item {
        .col-1 {
            flex-basis: 75px;
            max-width: 75px;
        }
        .cp-brand {
            color: $textColor;
            font-size: 10px;
            line-height: 1.2;
            padding-right: 15px;
            margin-bottom: 6px;
        }
        .cp-title {
            color: $textGray;
            font-size: 10px;
            line-height: 12px;
            padding-right: 15px;
            @include line-clamp;
            margin-bottom: 6px;
        }
        .cp-price {
            color: $textColor;
            font-size: 10px;
            line-height: 1;
        }
        .qty {
            width: 70px;
            span {
                width: 15px;
                height: 100%;
                z-index: 2;
            }
            input {
                height: 22px;
            }
        }
        .cart-item-delete-btn {
            color: $textLight;
            font-size: 12px;
            line-height: 1;
            text-align: center;
            position: absolute;
            top: 0;
            right: 0;
            @include transitionEase;
            &:hover {
                color: $textPrimary;
                transform: rotate(90deg);
            }
        }
    }
    .header-cart-price-line {
        color: $textGray;
        font-size: 12px;
        line-height: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #go-cart-btn {
        position: relative;
        i {
            font-size: 8px;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            z-index: 2;
        }
    }
    .free-shipping-limit-info {
        color: $textColor;
        font-size: 11px;
        line-height: 1.25;
    }
    &[dir="rtl"] {
        .header-cart-item {
            .cp-brand,
            .cp-title {
                padding-right: 0;
                padding-left: 15px;
            }
            .cart-item-delete-btn {
                right: auto;
                left: 0;
            }
        }
        #go-cart-btn {
            i {
                right: auto;
                left: 10px;
            }
        }
    }
}